<div class="tl_page_wrap">
  <div class="tl_page">
    <main class="tl_article tl_article_editable tl_article_edit title_focused">
      <header class="tl_article_header">
        <h1 dir="auto"></h1>
        <address dir="auto">
          <a rel="author"></a>

          <time datetime=""></time>
        </address>
      </header>
      <article id="_tl_editor" class="tl_article_content ql-container">
        <div class="parent">
          <div class="ql-editor" contenteditable="true" dir="auto">
            <h1 data-placeholder="Title" data-label="Title">афыв</h1>
            <address data-placeholder="Your name" data-label="Author" class="empty"><br></address>
            <p class="endddd"><i style="font-weight: bold;">пф</i><span style="font-weight: bold;"><i>ыв</i>а</span><i>ф</i>п<i style="font-weight: bold;">фё</i></p>
            <p>афыв</p>
          </div>
        </div>

        <div id="_tl_link_tooltip" class="tl_link_tooltip"></div>
        <div id="_tl_tooltip" class="tl_tooltip" [class.shown]="editor.active">
          <div class="buttons">
            <span class="button_hover"></span>
            <span class="button_group">
              <button id="_bold_button" [class.active]="editor.activeBold" (click)="bold()"></button>
              <button id="_italic_button" [class.active]="editor.activeItalic" (click)="italic()"></button>
              <button id="_link_button" [class.active]="editor.activeLink" (click)="editor.activeLink ? unlink() : addLink()"></button>
            </span>
            <span class="button_group">
              <button [class.active]="editor.h1.active" [class.disabled]="!editor.h1.active && editor.h1.check" (click)="formatH1()">H1</button>
              <button id="_header_button" [class.active]="editor.h2.active" (click)="formatH2()"></button>
              <button id="_subheader_button" [class.active]="editor.h3.active" (click)="formatH3()"></button>
              <button id="_quote_button" [class.active]="editor.blockquote.active" (click)="formatBlockquote()"></button>
              <button [class.active]="editor.cite.active" (click)="formatCite()">CIT</button>
              <button [class.active]="editor.del.active" (click)="formatDel()">DEL</button>
              <button [class.active]="editor.ins.active" (click)="formatIns()">INS</button>
              <button [class.active]="editor.dd.active" (click)="formatDd()">DD</button>
              <button [class.active]="editor.dt.active" (click)="formatDt()">DT</button>
              <button [class.active]="editor.orderedList.active" (click)="formatOrderedList()">ol</button>
              <button [class.active]="editor.unorderedList.active" (click)="formatUnorderedList()">ul</button>
              <button (click)="appendHr()">HR</button>
            </span>
          </div>
          <div class="prompt">
            <span class="close"></span>
            <div class="prompt_input_wrap"><input type="url" class="prompt_input"></div>
          </div>
        </div>
      </article>

    </main>
  </div>
</div>
