<div id="_tl_tooltip" class="tl_tooltip move_anim" [class.shown]="editor.active">
  <div class="buttons">
    <span class="button_hover"></span>
    <span class="button_group">
      <button id="_header_button" [class.active]="editor.h3.active" (click)="header(!editor.h3.active ? 3 : 0)">
        <span class="icon icon-h2-icon-editor"></span>
      </button>
      <button id="_bold_button" [class.active]="editor.bold.active" (click)="bold()">
        <span class="icon icon-bold-icon-editor"></span>
      </button>
      <button id="_italic_button" [class.active]="editor.italic.active" (click)="italic()">
        <span class="icon icon-italic-icon-editor"></span>
      </button>
      <button [class.active]="editor.under.active" (click)="underline()">
        <span class="icon icon-underline-icon-editor"></span>
      </button>
      <button [class.active]="editor.del.active" (click)="delete()">
        <span class="icon icon-strikethrough-icon-editor"></span>
      </button>
      <button (click)="spoiler()">
        <span class="icon icon-spoiler-icon-editor"></span>
      </button>
      <button id="_link_button" [class.active]="editor.link.active" (click)="link()">
        <span class="icon icon-insertlink-icon-editor"></span>
      </button>
    </span>
  </div>
  <div class="prompt">
    <span class="close"></span>
    <div class="prompt_input_wrap"><input type="url" class="prompt_input"></div>
  </div>
</div>
